* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff; 
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000; 
    color: #fff;
    padding: 1rem 2rem;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}


.navbar-logo{
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 50px;
    display: block; 
}

.navbar-title{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links ul li {
    margin-left: 2rem;
}



.navbar-links ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    font-size: 1rem;
    transition: color 0.3s ease;
    padding-bottom: 4px;
}

.navbar-links ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #0037ff;
    transition: width 0.3s ease;
}

.navbar-links ul li a:hover {
    color: #dbdbdb; 
}

.navbar-links ul li a:hover::after {
    width: 100%;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 10;
}

.navbar-toggle span {
    width: 28px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.navbar-toggle span.open:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}
.navbar-toggle span.open:nth-child(2) {
    opacity: 0;
}
.navbar-toggle span.open:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

@media (max-width: 768px) {
  .navbar-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #111;
        text-align: center;
        padding: 1rem 0;
  }

  .navbar-links.active {
        display: block;
  }

  .navbar-links ul {
        flex-direction: column;
  }

  .navbar-links ul li {
        margin: 1rem 0;
  }

  .navbar-toggle {
        display: flex;
  }
}
